In [42]:
import pandas as pd

In [43]:
df=pd.read_csv('fb.csv')

In [44]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,130791,Photo,2,7,3,5,1,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
245,130791,Photo,1,7,2,13,0,44464,66824,1052,930,1571,22904,14080,559,4,154.0,30.0,188
246,130791,Photo,2,7,2,8,0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,88
247,129600,Photo,2,7,1,12,0,3460,6503,541,482,667,4371,2260,314,0,96.0,19.0,115
248,129600,Photo,3,7,1,6,0,3406,5656,571,512,731,4446,2598,355,1,98.0,19.0,118

In [45]:
df.shape

(249, 19)

In [46]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     249 non-null    int64
 1   Type                                                                 249 non-null    object
 2   Category                                                             249 non-null    int64
 3   Post Month                                                           249 non-null    int64
 4   Post Weekday                                                         249 non-null    int64
 5   Post Hour                                                            249 non-null    int64
 6   Paid                                                                 249 non-null    int64
 7   Lifetime Post Total Reach                                            249 non-null    int64
 8   Lifetime Post Total Impressions                                      249 non-null    int64
 9   Lifetime Engaged Users                                               249 non-null    int64
 10  Lifetime Post Consumers                                              249 non-null    int64
 11  Lifetime Post Consumptions                                           249 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         249 non-null    int64
 13  Lifetime Post reach by people who like your Page                     249 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  249 non-null    int64
 15  comment                                                              249 non-null    int64
 16  like                                                                 248 non-null    float64
 17  share                                                                245 non-null    float64
 18  Total Interactions                                                   249 non-null    int64
dtypes: float64(2), int64(16), object(1)
memory usage: 36.1+ KB

In [48]:
df.iloc[[1,2,5,6],[2,5,6]]

   Category  Post Hour  Paid
1         2         10     0
2         3          3     0
5         2          9     0
6         3          3     1

In [51]:
df.iloc[-1::-1,1:9:3]

       Type  Post Weekday  Lifetime Post Total Reach
248   Photo             1                       3406
247   Photo             1                       3460
246   Photo             2                       2881
245   Photo             2                      44464
244   Photo             3                     180480
..      ...           ...                        ...
4     Photo             2                       7244
3     Photo             2                      50128
2     Photo             3                       2413
1    Status             3                      10460
0     Photo             4                       2752

[249 rows x 3 columns]

In [52]:
df.columns.to_list()

['Page total likes',
 'Type',
 'Category',
 'Post Month',
 'Post Weekday',
 'Post Hour',
 'Paid',
 'Lifetime Post Total Reach',
 'Lifetime Post Total Impressions',
 'Lifetime Engaged Users',
 'Lifetime Post Consumers',
 'Lifetime Post Consumptions',
 'Lifetime Post Impressions by people who have liked your Page',
 'Lifetime Post reach by people who like your Page',
 'Lifetime People who have liked your Page and engaged with your post',
 'comment',
 'like',
 'share',
 'Total Interactions']

In [53]:
df.loc[3]

Page total likes                                                       139441
Type                                                                    Photo
Category                                                                    2
Post Month                                                                 12
Post Weekday                                                                2
Post Hour                                                                  10
Paid                                                                        1
Lifetime Post Total Reach                                               50128
Lifetime Post Total Impressions                                         87991
Lifetime Engaged Users                                                   2211
Lifetime Post Consumers                                                   790
Lifetime Post Consumptions                                               1119
Lifetime Post Impressions by people who have liked your Page            61027
Lifetime Post reach by people who like your Page                        32048
Lifetime People who have liked your Page and engaged with your post      1386
comment                                                                    58
like                                                                   1572.0
share                                                                   147.0
Total Interactions                                                       1777
Name: 3, dtype: object

In [54]:
#1.Creating Subset
subset=df.loc[:,['Page total likes','Type','Post Month','comment','like','share']]
subset.head()

   Page total likes    Type  Post Month  comment    like  share
0            139441   Photo          12        4    79.0   17.0
1            139441  Status          12        5   130.0   29.0
2            139441   Photo          12        0    66.0   14.0
3            139441   Photo          12       58  1572.0  147.0
4            139441   Photo          12       19   325.0   49.0

In [57]:
#2.Merge
merge_df= pd.DataFrame({'Type':['Photo','Status'],'Category':['Virtual','Textual']})
merged= pd.merge(subset,merge_df, on='Type', how='left')
merged.head()

   Page total likes    Type  Post Month  comment    like  share Category
0            139441   Photo          12        4    79.0   17.0  Virtual
1            139441  Status          12        5   130.0   29.0  Textual
2            139441   Photo          12        0    66.0   14.0  Virtual
3            139441   Photo          12       58  1572.0  147.0  Virtual
4            139441   Photo          12       19   325.0   49.0  Virtual

In [64]:
#3.Sorting Descending
sorted_df=merged.sort_values(by='like',ascending=False)
sorted_df.head()

     Page total likes   Type  Post Month  comment    like  share Category
244            130791  Photo           7      372  5172.0  790.0  Virtual
168            135428  Photo           9      144  1622.0  208.0  Virtual
3              139441  Photo          12       58  1572.0  147.0  Virtual
101            137020  Photo          10       26  1505.0   95.0  Virtual
199            132817  Photo           8       33  1155.0  102.0  Virtual

In [65]:
#4.Transpose
sorted_df.head().T

                      244      168      3        101      199
Page total likes   130791   135428   139441   137020   132817
Type                Photo    Photo    Photo    Photo    Photo
Post Month              7        9       12       10        8
comment               372      144       58       26       33
like               5172.0   1622.0   1572.0   1505.0   1155.0
share               790.0    208.0    147.0     95.0    102.0
Category          Virtual  Virtual  Virtual  Virtual  Virtual

In [66]:
#5.shape and Reshape
##(i)Melting
melted=pd.melt(subset.head(), id_vars=['Type'])
melted.head()

     Type          variable     value
0   Photo  Page total likes  139441.0
1  Status  Page total likes  139441.0
2   Photo  Page total likes  139441.0
3   Photo  Page total likes  139441.0
4   Photo  Page total likes  139441.0

In [72]:
#5.shape and Reshape
##(i)Casting (Pivot)
casted=melted.pivot_table(index='Type',columns='variable', values='value',aggfunc='first')
casted

variable  Page total likes  Post Month  comment   like  share
Type
Photo             139441.0        12.0      4.0   79.0   17.0
Status            139441.0        12.0      5.0  130.0   29.0